.chooseus-parent {
  font-family: "Montserrat", sans-serif;
  margin: 50px 220px;
}
.chooseus-parent h2 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 40px;
}
.chef-heading {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.see-more-link {
  text-decoration: none;
  font-size: 19px;
}
.chef-icon {
  margin-left: 10px;
}
.chef-title {
  margin: 150px 0 50px 0;
}
.C-body {
  padding-top: 20px;
}
.card-imgeSS {
  width: 400px;
}

@media only screen and (max-width: 600px) {
  .chooseus-parent {
    margin: 0;
    padding: 10px;
  }

  .chef-title {
    margin-top: 50px;
    text-align: center;
  }
  .card_parenTT {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .card-imgeSS {
    width: 100%;
  }
}
