.meal-card {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.meal-card img {
  width: 270px;
  margin-bottom: 15px;
}
.main-card {
  text-align: center;
  padding: 40px;
}
.main-card:hover {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
  background-color: #f0f2f5;
}
